%h1.text-center Lista de Marcas de teléfonos
%hr
%br
.row
  .col-md-4
  .col-md-4
    .option-button
      = link_to ' Agregar Marca', new_trademark_path, class: 'btn btn-success'
    %br
    .trademarks-index
    %table.table.table-striped
      %thead
      %tbody
        - @trademarks.each do |trademark|
          %tr
            %td
              %strong
                = trademark.name
            %td
              = link_to " Ver Modelos ", trademark, class: 'btn btn-default fa fa-eye'
            %td
              = link_to " Editar", edit_trademark_path(trademark), class: 'btn btn-default fa fa-edit'
            %td
              = link_to " Eliminar", trademark, method: :delete, data: { confirm: "¿Estás Seguro que deseas eliminar la marca #{trademark.name}?"}, class: 'btn btn-danger fa fa-trash'