<%= form_for(@buy_detail) do |f| %>
  <% if @buy_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy_detail.errors.count, "error") %> prohibited this buy_detail from being saved:</h2>

      <ul>
      <% @buy_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_id %><br>
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :buy_id %><br>
    <%= f.number_field :buy_id %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :imei %><br>
    <%= f.number_field :imei %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
