%nav.navbar.navigation-navbar
  .navbar-header.text-center
    %a.navbar-brand{ href: root_path }
      %img{src: asset_url('logo.png'), alt: '', width: 180}

    %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.bs-navbar-collapse' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  .collapse.navbar-collapse.bs-navbar-collapse
    %ul.nav.navbar-nav.main-menu
      %li
        = link_to root_path do
          %span Inicio
      %li{ class: "#{'active' if params[:controller] == 'buys' || !@buy.nil? }" }
        = link_to new_buy_path do
          / .fa.fa-mobile-phone
          %span Comprar Teléfono

      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
          %span Mantenedores
          %span.caret
        %ul.dropdown-menu-right.dropdown-menu{ role: "menu", style: 'background-color:#2d9b36;' }
          %li= link_to " Teléfonos",trademarks_path, class: 'fa fa-phone'
          %li= link_to " Estados", states_path, class: 'fa fa-tags'
          %li= link_to " Clientes", customers_path, class: 'fa fa-group'
          %li= link_to " Compañias", companies_path, class: 'fa fa-building'
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
          %span Reportes
          %span.caret
        %ul.dropdown-menu-rigth.dropdown-menu{ role: "menu", style: 'background-color:#2d9b36'}
          %li= link_to "Por Sucursales", buy_sucursal_path, class: 'fa fa-line-chart'
          %li= link_to "Todas las compras", buy_all_path, class: 'fa fa-line-chart'   
     
    %ul.nav.navbar-nav.main-menu.pull-right  
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
          %span= current_user.username
          %span.caret
        %ul.dropdown-menu-right.dropdown-menu{ role: "menu", style: 'background-color:#2d9b36;' }
          / %li= link_to 'Mi cuenta'
          %li= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete

- if alert_message?
  .main-notificator
    .alert.alert-dismissible{ class: alert_type }
      %button.close{ 'data-dismiss' => 'alert' } &times;
      %p.text-center= alert_content
