= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'login-form' }) do |f|
  %h3 Registrar nuevo usuario
  %hr
  - unless alert.blank?
    %p.alert.alert-danger= alert

  .form-group
    = f.email_field :email, class: 'form-control', placeholder: 'Correo Electronico', autofocus: true
    
  .form-group
    = f.text_field :username, class: 'form-control', placeholder: 'Nombre de sucursal', autofocus: true
  
  .form-group
    = f.text_field :address, class: 'form-control', placeholder: 'Dirección',autofocus: true
  
  .form-group
    = f.text_field :contact_number, class: 'form-control', placeholder: 'Teléfono de contacto', autofocus: true

  .form-group
    = f.password_field :password, class: 'form-control', placeholder: 'Contraseña', autocomplete: "off"

  .form-group
    = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmar contraseña', autocomplete: "off"

  = f.submit "Registrar Sucursal", class: 'btn btn-success btn-block'


  / = render "users/shared/links"
  
